<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23456282075-63i9u2jnjgu351o5q08hrjp3l5o7i5bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23456282075-63i9u2jnjgu351o5q08hrjp3l5o7i5bh</string>
	<key>API_KEY</key>
	<string>AIzaSyC9bnNmmqX1eapMvrd4crtJtuDacFZNhBw</string>
	<key>GCM_SENDER_ID</key>
	<string>23456282075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justinong.MyWellness</string>
	<key>PROJECT_ID</key>
	<string>mywellness-e5939</string>
	<key>STORAGE_BUCKET</key>
	<string>mywellness-e5939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23456282075:ios:a80b904c3017b3f303a3fe</string>
</dict>
</plist>